{
  "Profiles": [
    {
      "Working Directory": "\/Users\/{{ ansible_user_id }}",
      "Prompt Before Closing 2": 0,
      "Rows": 25,
      "Character Encoding": 4,
      "Blend": 0.30000001192092896,
      "Disable Window Resizing": true,
      "Close Sessions On End": true,
      "Scrollback With Status Bar": false,
      "Scrollback Lines": 1000,
      "Scrollback in Alternate Screen": true,
      "Unlimited Scrollback": true,
      "Window Type": 2,
      "Name": "{{ ansible_user_id }}",
      "Guid": "01D04866-306D-4756-B958-9CC768CDD560",
      "Blur Radius": 6.3597631454467773,
      "Normal Font": "InconsolataForPowerline-dz 9",
      "Vertical Spacing": 1.0101351737976074,
      "Space": -1,
      "Horizontal Spacing": 1.1000000238418579,
      "Transparency": 0.090532541275024414,
      "Screen": -1,
      "Non Ascii Font": "InconsolataForPowerline 12",
      "Columns": 80,
    }
  ]
}

